@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
:root {
    --var-Very-dark-blue: hsl(233, 47%, 7%);
    --var-Dark-desaturated-blue: hsl(244, 38%, 16%);
    --var-Soft-violet: hsl(277, 64%, 61%);
    --var-White: hsl(0, 0%, 100%);
    --var-Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --var-Slightly-transparent-white2: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--var-Very-dark-blue);
    font-size: 15px;
    color: var(--var-White);
    font-family: 'Inter';
}

main {
    height: calc(100% - 14px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 420px;
    max-width: 1050px;
    margin: 10px;
    background-color: var(--var-Dark-desaturated-blue);
    border-radius: 10px;
    overflow: hidden;
}

.content {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.text h1 {
    font-size: 2.2rem;
}

.text2 {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
    margin-right: 55px;
}

.accent {
    color: var(--var-Soft-violet);
}

.stats {
    display: flex;
    justify-content: space-between;
}

.images {
    background-color: var(--var-Soft-violet);
    background-image: url(../images/image-header-desktop.jpg);
    background-blend-mode: multiply; /*This is new to me!!*/
    width: 50%;
}

p {
    color: var(--var-Slightly-transparent-white2);
    line-height: 25px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--var-Soft-violet);
}

@media (max-width: 1000px) {
    main {
        height: auto;
    }
    .container {
        flex-direction: column-reverse;
        height: auto;
        width: 375px;
        margin: 70px 20px;
    }
    .content {
        width: auto;
        padding: 50px 60px;
    }
    .text2 {
        margin-right: 0;
    }
    .stats {
        flex-direction: column;
    }
    .images {
        width: 100%;
        height: 300px;
        background-size: cover;
    }
    .text h1 {
        font-size: 1.7rem;
    }
    h1, h2 {
        text-align: center;
    }
    p {
        text-align: center;
        margin-bottom: 30px;
    }
}